* {
  margin: 0px;
  padding: 0px;
  font-family: "Jua", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-image: url("./imgs/fondo-peppa.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h2 {
  font-size: 32px;
  color: white;
  letter-spacing: 10px;
}
button {
  border: none;
  font-size: 18px;
  color: #31a1c9;
  cursor: pointer;
  border-radius: 50px;
  padding: 10%;
  box-sizing: border-box;
}
#container {
  min-width: 50%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100;
}
.box-border {
  border: 2px solid #f9b0d4;
  width: 28%;
  height: 20vh;
  cursor: pointer;
}

.box {
  width: 100%;
  height: 100%;
}

.red {
  background-color: red;
  background-image: url("./imgs/peppa.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}

.blue {
  background-color: blue;
  background-image: url("./imgs/papa.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}
.green {
  background-color: green;
  background-image: url("./imgs/elefante.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}
.yellow {
  background-color: yellow;
  background-image: url("./imgs/gato.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}
.violet {
  background-color: violet;
  background-image: url("./imgs/mama.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}
.black {
  background-color: black;
  background-image: url("./imgs/george.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}

.gray {
  background-color: gray;
}

#game-over {
  font-size: 72px;
}
#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 15px;
}

button {
  padding: 5px 10px;
  margin: 10px;
  background-color: white;
  font-weight: 500;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  background-image: none;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f9cfe5;
  background-image: url("./imgs/logo.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
}
.flip-card-front img {
  padding: 40px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

.character-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  margin-top: 51vh;
  bottom: 0px;
  z-index: 50;
}
.peppa-gif {
  height: 260px;
}
.peppa-gif img {
  height: 100%;
}
.georgie-gif {
  height: 180px;
}
.georgie-gif img {
  height: 100%;
}

@media (max-width: 760px) {
  #container {
    width: 90%;
  }
  .character-box {
    display: none;
  }
}
